<a href="https://colab.research.google.com/github/Prattoypaul/myml/blob/main/Linier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [6]:
train=pd.read_csv('gdrive/My Drive/Colab Notebooks/linier2/car data.csv')

In [7]:
train

   speed  car_age   exp  risk
0    200       15   5.0    85
1     90       17  13.0    20
2    165       12   4.0    93
3    110       20   NaN    60
4    140        5   3.0    82
5    115        2   8.0    10

In [8]:
train.exp.median()

5.0

In [9]:
train.exp=train.exp.fillna(train.exp.median())

In [10]:
train

   speed  car_age   exp  risk
0    200       15   5.0    85
1     90       17  13.0    20
2    165       12   4.0    93
3    110       20   5.0    60
4    140        5   3.0    82
5    115        2   8.0    10

In [11]:
reg=linear_model.LinearRegression()

In [12]:
reg.fit(train[["speed","car_age","exp"]],train.risk)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
reg.predict([[165,14,7]])

array([67.05111793])