<a href="https://colab.research.google.com/github/Prattoypaul/myml/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
data=pd.read_csv('gdrive/My Drive/Colab Notebooks/practice/fruits.csv')

In [5]:
data

    fruit_label fruit_name     fruit_subtype   mass  width  height  color_score
0             1      apple      granny_smith  192.0    8.4     7.3         0.55
1             1      apple      granny_smith  180.0    8.0     6.8         0.59
2             1      apple      granny_smith  176.0    7.4     7.2         0.60
3             2   mandarin          mandarin   86.0    6.2     4.7         0.80
4             2   mandarin          mandarin   84.0    6.0     4.6          NaN
5             2   mandarin          mandarin    NaN    5.8     4.3         0.77
6             2   mandarin          mandarin   80.0    5.9     NaN         0.81
7             2   mandarin          mandarin   76.0    5.8     4.0         0.81
8             1      apple          braeburn  178.0    7.1     7.8         0.92
9             1      apple          braeburn  172.0    7.4     7.0          NaN
10            1      apple          braeburn  166.0    6.9     7.3         0.93
11            1      apple          braeburn    NaN    7.1     7.6         0.92
12            1      apple          braeburn  154.0    7.0     7.1         0.88
13            1      apple  golden_delicious  164.0    7.3     7.7         0.70
14            1      apple  golden_delicious  152.0    7.6     NaN         0.69
15            1      apple  golden_delicious  156.0    7.7     7.1         0.69
16            1      apple  golden_delicious  156.0    7.6     7.5         0.67
17            1      apple  golden_delicious  168.0    7.5     7.6         0.73
18            1      apple       cripps_pink  162.0    NaN     7.1         0.83
19            1      apple       cripps_pink  162.0    7.4     7.2          NaN
20            1      apple       cripps_pink  160.0    7.5     7.5         0.86
21            1      apple       cripps_pink  156.0    7.4     7.4         0.84
22            1      apple       cripps_pink  140.0    7.3     7.1         0.87
23            1      apple       cripps_pink  170.0    7.6     7.9         0.88
24            3     orange     spanish_jumbo  342.0    9.0     9.4         0.75
25            3     orange     spanish_jumbo  356.0    9.2     9.2         0.75
26            3     orange     spanish_jumbo  362.0    9.6     9.2         0.74
27            3     orange  selected_seconds  204.0    7.5     9.2         0.77
28            3     orange  selected_seconds  140.0    6.7     7.1         0.72
29            3     orange  selected_seconds  160.0    7.0     7.4         0.81
30            3     orange  selected_seconds  158.0    7.1     7.5         0.79
31            3     orange  selected_seconds  210.0    7.8     8.0         0.82
32            3     orange  selected_seconds  164.0    7.2     7.0         0.80
33            3     orange      turkey_navel  190.0    7.5     8.1         0.74
34            3     orange      turkey_navel  142.0    7.6     7.8         0.75
35            3     orange      turkey_navel  150.0    7.1     7.9         0.75
36            3     orange      turkey_navel  160.0    7.1     7.6         0.76
37            3     orange      turkey_navel  154.0    7.3     7.3         0.79
38            3     orange      turkey_navel  158.0    7.2     7.8         0.77
39            3     orange      turkey_navel  144.0    6.8     7.4         0.75
40            3     orange      turkey_navel  154.0    7.1     7.5         0.78
41            3     orange      turkey_navel  180.0    7.6     8.2         0.79
42            3     orange      turkey_navel  154.0    7.2     7.2         0.82
43            4      lemon    spanish_belsan  194.0    7.2    10.3         0.70
44            4      lemon    spanish_belsan  200.0    7.3    10.5         0.72
45            4      lemon    spanish_belsan  186.0    7.2     9.2         0.72
46            4      lemon    spanish_belsan  216.0    7.3    10.2         0.71
47            4      lemon    spanish_belsan  196.0    7.3     9.7         0.72
48            4      lemon    spanish_belsan  174.0    7.3    10.1         0.72
49            4      lemon           unknown  132.0    5.8     8.7         0.73
50            4      lemon           unknown  130.0    6.0     8.2         0.71
51            4      lemon           unknown  116.0    6.0     7.5         0.72
52            4      lemon           unknown  118.0    5.9     8.0         0.72
53            4      lemon           unknown  120.0    6.0     8.4         0.74
54            4      lemon           unknown  116.0    6.1     8.5         0.71
55            4      lemon           unknown  116.0    6.3     7.7         0.72
56            4      lemon           unknown  116.0    5.9     8.1         0.73
57            4      lemon           unknown  152.0    6.5     8.5         0.72
58            4      lemon           unknown  118.0    6.1     8.1         0.70

In [6]:
from sklearn.neighbors import KNeighborsClassifier

In [7]:
knn=KNeighborsClassifier()

In [20]:
x=data.iloc[:,4:6]

In [21]:
x

    width  height
0     8.4     7.3
1     8.0     6.8
2     7.4     7.2
3     6.2     4.7
4     6.0     4.6
5     5.8     4.3
6     5.9     NaN
7     5.8     4.0
8     7.1     7.8
9     7.4     7.0
10    6.9     7.3
11    7.1     7.6
12    7.0     7.1
13    7.3     7.7
14    7.6     NaN
15    7.7     7.1
16    7.6     7.5
17    7.5     7.6
18    NaN     7.1
19    7.4     7.2
20    7.5     7.5
21    7.4     7.4
22    7.3     7.1
23    7.6     7.9
24    9.0     9.4
25    9.2     9.2
26    9.6     9.2
27    7.5     9.2
28    6.7     7.1
29    7.0     7.4
30    7.1     7.5
31    7.8     8.0
32    7.2     7.0
33    7.5     8.1
34    7.6     7.8
35    7.1     7.9
36    7.1     7.6
37    7.3     7.3
38    7.2     7.8
39    6.8     7.4
40    7.1     7.5
41    7.6     8.2
42    7.2     7.2
43    7.2    10.3
44    7.3    10.5
45    7.2     9.2
46    7.3    10.2
47    7.3     9.7
48    7.3    10.1
49    5.8     8.7
50    6.0     8.2
51    6.0     7.5
52    5.9     8.0
53    6.0     8.4
54    6.1     8.5
55    6.3     7.7
56    5.9     8.1
57    6.5     8.5
58    6.1     8.1

In [22]:
y=data['fruit_label']

In [26]:
x.isnull().sum()

width     1
height    2
dtype: int64

In [23]:
x_mean=x['width'].mean()

In [27]:
xme_h=x['height'].mean()

In [28]:
x=x.fillna({'width':x_mean,'height':xme_h})

In [29]:
x

       width     height
0   8.400000   7.300000
1   8.000000   6.800000
2   7.400000   7.200000
3   6.200000   4.700000
4   6.000000   4.600000
5   5.800000   4.300000
6   5.900000   7.759649
7   5.800000   4.000000
8   7.100000   7.800000
9   7.400000   7.000000
10  6.900000   7.300000
11  7.100000   7.600000
12  7.000000   7.100000
13  7.300000   7.700000
14  7.600000   7.759649
15  7.700000   7.100000
16  7.600000   7.500000
17  7.500000   7.600000
18  7.098276   7.100000
19  7.400000   7.200000
20  7.500000   7.500000
21  7.400000   7.400000
22  7.300000   7.100000
23  7.600000   7.900000
24  9.000000   9.400000
25  9.200000   9.200000
26  9.600000   9.200000
27  7.500000   9.200000
28  6.700000   7.100000
29  7.000000   7.400000
30  7.100000   7.500000
31  7.800000   8.000000
32  7.200000   7.000000
33  7.500000   8.100000
34  7.600000   7.800000
35  7.100000   7.900000
36  7.100000   7.600000
37  7.300000   7.300000
38  7.200000   7.800000
39  6.800000   7.400000
40  7.100000   7.500000
41  7.600000   8.200000
42  7.200000   7.200000
43  7.200000  10.300000
44  7.300000  10.500000
45  7.200000   9.200000
46  7.300000  10.200000
47  7.300000   9.700000
48  7.300000  10.100000
49  5.800000   8.700000
50  6.000000   8.200000
51  6.000000   7.500000
52  5.900000   8.000000
53  6.000000   8.400000
54  6.100000   8.500000
55  6.300000   7.700000
56  5.900000   8.100000
57  6.500000   8.500000
58  6.100000   8.100000

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2,random_state=1)

In [32]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [34]:
knn.predict([[4.9,8.4]])

array([4])