<a href="https://colab.research.google.com/github/Prattoypaul/myml/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
data= pd.read_csv('gdrive/My Drive/Colab Notebooks/project1/Renting_data.csv')

In [4]:
data

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[48895 rows x 16 columns]

In [5]:
data.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [14]:
data=data.drop('host_name',axis=1)

In [15]:
data=data.drop('name',axis=1)

In [17]:
data=data.drop('last_review',axis=1)

In [18]:
data

             id   host_id  ... calculated_host_listings_count availability_365
0          2539      2787  ...                              6              365
1          2595      2845  ...                              2              355
2          3647      4632  ...                              1              365
3          3831      4869  ...                              1              194
4          5022      7192  ...                              1                0
...         ...       ...  ...                            ...              ...
48890  36484665   8232441  ...                              2                9
48891  36485057   6570630  ...                              2               36
48892  36485431  23492952  ...                              1               27
48893  36485609  30985759  ...                              6                2
48894  36487245  68119814  ...                              1               23

[48895 rows x 13 columns]

In [22]:
xa=np.mean(data['reviews_per_month'])

1.3732214298586884

In [24]:
data.fillna('xa')

             id   host_id  ... calculated_host_listings_count availability_365
0          2539      2787  ...                              6              365
1          2595      2845  ...                              2              355
2          3647      4632  ...                              1              365
3          3831      4869  ...                              1              194
4          5022      7192  ...                              1                0
...         ...       ...  ...                            ...              ...
48890  36484665   8232441  ...                              2                9
48891  36485057   6570630  ...                              2               36
48892  36485431  23492952  ...                              1               27
48893  36485609  30985759  ...                              6                2
48894  36487245  68119814  ...                              1               23

[48895 rows x 13 columns]

In [33]:
data['neighbourhood_group'].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [34]:
n_order=['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx']

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le=LabelEncoder()

In [57]:
data=data.apply(le.fit_transform)

In [58]:
data

          id  host_id  ...  calculated_host_listings_count  availability_365
0          0        2  ...                               5               365
1          1        3  ...                               1               355
2          2       13  ...                               0               365
3          3       14  ...                               0               194
4          4       18  ...                               0                 0
...      ...      ...  ...                             ...               ...
48890  48890    10255  ...                               1                 9
48891  48891     8945  ...                               1                36
48892  48892    17488  ...                               0                27
48893  48893    19748  ...                               5                 2
48894  48894    26349  ...                               0                23

[48895 rows x 13 columns]

In [59]:
x=data.iloc[:,:-1]

In [60]:
y=data['availability_365']

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.3,random_state=1)

In [63]:
from sklearn.linear_model import LinearRegression

In [64]:
lr=LinearRegression()

In [65]:
lr.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [66]:
lr.score(xtest,ytest)

0.2382727522928536